@import url(./base/base.css);

@import url(./components/component.css);
@import url(./components/btn.css);
@import url(./components/input.css);

@tailwind utilities;

@font-face {
  font-family: "Satoshi-Variable";
  src: url("../fonts/Satoshi-Variable.woff2") format("woff2"),
    url("../fonts/Satoshi-Variable.woff") format("woff"),
    url("../fonts/Satoshi-Variable.ttf") format("truetype");
  font-weight: 300 900;
  font-display: swap;
  font-style: normal;
}

/**
* This is a variable font
* You can controll variable axes as shown below:
* font-variation-settings: 'wght' 900.0;
*
* available axes:

* 'wght' (range from 300.0 to 900.0)

*/

@font-face {
  font-family: "Satoshi-VariableItalic";
  src: url("../fonts/Satoshi-VariableItalic.woff2") format("woff2"),
    url("../fonts/Satoshi-VariableItalic.woff") format("woff"),
    url("../fonts/Satoshi-VariableItalic.ttf") format("truetype");
  font-weight: 300 900;
  font-display: swap;
  font-style: italic;
}

@font-face {
  font-family: "Satoshi-Light";
  src: url("../fonts/Satoshi-Light.woff2") format("woff2"),
    url("../fonts/Satoshi-Light.woff") format("woff"),
    url("../fonts/Satoshi-Light.ttf") format("truetype");
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Satoshi-LightItalic";
  src: url("../fonts/Satoshi-LightItalic.woff2") format("woff2"),
    url("../fonts/Satoshi-LightItalic.woff") format("woff"),
    url("../fonts/Satoshi-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-display: swap;
  font-style: italic;
}

@font-face {
  font-family: "Satoshi-Regular";
  src: url("../fonts/Satoshi-Regular.woff2") format("woff2"),
    url("../fonts/Satoshi-Regular.woff") format("woff"),
    url("../fonts/Satoshi-Regular.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Satoshi-Italic";
  src: url("../fonts/Satoshi-Italic.woff2") format("woff2"),
    url("../fonts/Satoshi-Italic.woff") format("woff"),
    url("../fonts/Satoshi-Italic.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
  font-style: italic;
}

@font-face {
  font-family: "Satoshi-Medium";
  src: url("../fonts/Satoshi-Medium.woff2") format("woff2"),
    url("../fonts/Satoshi-Medium.woff") format("woff"),
    url("../fonts/Satoshi-Medium.ttf") format("truetype");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Satoshi-MediumItalic";
  src: url("../fonts/Satoshi-MediumItalic.woff2") format("woff2"),
    url("../fonts/Satoshi-MediumItalic.woff") format("woff"),
    url("../fonts/Satoshi-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-display: swap;
  font-style: italic;
}

@font-face {
  font-family: "Satoshi-Bold";
  src: url("../fonts/Satoshi-Bold.woff2") format("woff2"),
    url("../fonts/Satoshi-Bold.woff") format("woff"),
    url("../fonts/Satoshi-Bold.ttf") format("truetype");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Satoshi-BoldItalic";
  src: url("../fonts/Satoshi-BoldItalic.woff2") format("woff2"),
    url("../fonts/Satoshi-BoldItalic.woff") format("woff"),
    url("../fonts/Satoshi-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-display: swap;
  font-style: italic;
}

@font-face {
  font-family: "Satoshi-Black";
  src: url("../fonts/Satoshi-Black.woff2") format("woff2"),
    url("../fonts/Satoshi-Black.woff") format("woff"),
    url("../fonts/Satoshi-Black.ttf") format("truetype");
  font-weight: 900;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Satoshi-BlackItalic";
  src: url("../fonts/Satoshi-BlackItalic.woff2") format("woff2"),
    url("../fonts/Satoshi-BlackItalic.woff") format("woff"),
    url("../fonts/Satoshi-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-display: swap;
  font-style: italic;
}

/* Image pages connexion & insrciption */
.backgroundCreateAccount {
  background: url("../images/createAccount.jpg");
  background-size: cover;
}

.backgroundAlreadyRegistred {
  background: url("../images/alreadyRegistred.jpg");
  background-size: cover;
}

/* ANIMATION CSS */
.anim-delay-100 {
  animation-delay: 0.1s;
}
.anim-delay-300 {
  animation-delay: 0.3s;
}
.anim-delay-600 {
  animation-delay: 0.6s;
}

/* INPUT PASSWORD + ICON */
.passwordIcon {
  top: 56%;
  right: 3%;
  cursor: pointer;
}

/* MENU */

@media screen and (max-width: 768px) {
  #mobileMenu {
    left: -100vw;
    visibility: hidden;
    transition: all 0.3s ease;
    z-index: -2;
  }
}

.show-menu #mobileMenu {
  left: 0;
  visibility: visible;
}

/* FAQ PAGE CONTACT */
.faq-item {
  cursor: pointer;
}

.faq-item.active {
  margin-bottom: 20px;
}

.faq-question {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.faq-answer {
  overflow: hidden;
  max-height: 0;
}

.faq-item.active .faq-answer {
  max-height: 200px;
}

.faq-border {
  border-bottom: 1px solid #ccc;
  width: 100%;
}

/* PAGE ACCUEIL */

.backgroundAccueil {
  background: url("../images/home.jpg") center;
  height: 550px;
  width: 100%;
}

.textAccueil h1 {
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
}

.textAccueil {
  right: 20%;
  bottom: 15%;
  max-width: 350px;
}

@media screen and (max-width: 1500px) {
  .textAccueil {
    right: 15%;
  }
}

@media screen and (max-width: 1300px) {
  .textAccueil {
    right: 10%;
  }
}

@media screen and (max-width: 1100px) {
  .textAccueil {
    right: 5%;
  }
}

@media screen and (max-width: 980px) {
  .backgroundAccueil {
    width: auto;
    height: 300px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .textAccueil {
    right: 5%;
    background-color: rgba(255, 255, 255, 0.501);
    padding: 20px;
  }
}

.engagement {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-weight: 900;
  height: 240px;
  width: 240px;
}

.engagement1 {
  background: url(../images/ourEngagements/Engagement1.jpg) no-repeat;
}
.engagement2 {
  background: url(../images/ourEngagements/Engagement2.jpg) no-repeat;
}
.engagement3 {
  background: url(../images/ourEngagements/Engagement3.jpg) no-repeat;
}
.engagement4 {
  background: url(../images/ourEngagements/Engagement4.jpg) no-repeat;
}
